footer {
  padding: clamp(20px, 3.937vw, 50px) 0 Min(1.575vw, 20px);

  // @include small-tablet {
  //   overflow: hidden;
  // }
}

.footer {
  position: relative;
  z-index: 40;

  display: grid;
  align-items: center;

  grid-gap: 30px;
  grid-template-columns: 1fr auto;
  @include small-tablet {
    justify-content: space-between;

    grid-template-columns: auto auto 24px;
  }
  @include tablet {
    grid-gap: 20px;
  }
  @include for-laptop {
    left: 30px;
  }


  &::before {
    content: "";
    position: absolute;
    bottom: calc(Min(1.575vw, 20px) * -1);
    left: 50%;
    z-index: -1;

    width: 800px;
    height: 100%;

    background: url(../img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 50%;
    border-radius: 50% 50% 0 0;
    transform: translateX(-50%);
  }

  .connect-walet--mobile {
    position: absolute;
    right: 0;
  }

  .select {
    @include small-tablet {
      right: 56px;
    }
  }

  .select__body {
    transform: translate(-50%, -150%);
  }
}
