header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  padding: clamp(20px, 2.222vw, 26px) 0;

  @include for-laptop {
    left: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;

    width: 400px;
    height: 100px;

    background: var(--bg-d);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-radius: 0 0 50% 50% ;
    transform: translateX(-55%);
    filter: blur(Min(10.94vw, 100px));

    @include mobile {
      top: -100px;
    }
  }
}

.header {
  display: grid;
  align-items: center;

  grid-gap: 30px;
  grid-template-columns: 1fr auto;
  @include small-tablet {
    justify-content: space-between;

    grid-template-columns: auto auto 24px;
  }
  @include tablet {
    grid-gap: 20px;
  }
}
