.investments {
  position: relative;

  padding: 32px 0 clamp(40px, 6.41vw, 75px);

  &::after {
    top: 50%;
    left: calc((452px - 84px) * -1);
    z-index: -2;

    transform: translateY(-50%);

    @include round;
  }
  &::before {
    top: 50%;
    right: calc((452px - 84px) * -1);
    z-index: -2;

    transform: translateY(-50%);

    @include round;
  }


  &__top {
    margin-bottom: clamp(30px, 4.701vw, 55px);
  }

  &__list {
    position: relative;
    z-index: 0;

    display: grid;
    margin-bottom: 16px;
    padding: clamp(30px, 31px, 31px) clamp(20px, 4.274vw, 50px);

    border-radius: clamp(18px,1.709vw, 20px);

    grid-gap: 30px Min(5.128vw, 60px);
    grid-template-columns: repeat(4, minmax(172px, auto));
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      margin-bottom: 20px;

      grid-template-columns: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      z-index: -2;

      background: linear-gradient(90.32deg, #8247e5 1.21%, rgba(130, 71, 229, 0) 99.77%);
      border-radius: inherit;

      pointer-events: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;

      background: #08040e linear-gradient(270deg, #1d0f32 0%, rgba(29, 15, 50, 0) 89.47%);
      border-radius: inherit;

      pointer-events: none;
    }

    &-item {
      position: relative;

      @include for-tablet {
        &:not(:first-child) {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: calc((Min(5.128vw, 60px) / 2 )* -1);

            width: 3px;
            height: 120%;

            background: linear-gradient(270deg, #502b8c 0%, rgba(80, 43, 140, 0) 101.76%);
            transform: translateY(-50%);
          }
        }
      }
      @include tablet {
        &:nth-child(odd) {
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: calc((Min(5.128vw, 60px) / 1.7 )* -1);

            width: 2px;
            height: 100%;

            background: linear-gradient(270deg, #502b8c 0%, rgba(80, 43, 140, 0) 101.76%);
            transform: translateY(-50%);
          }
        }

        &::after {
          content: "";
          position: absolute;
          top: -15px;
          left: 0;

          width: 100%;
          height: 1px;

          background: linear-gradient(270deg, #502b8c 0%, rgba(80, 43, 140, 0) 101.76%);
        }

        &:nth-child(1),
        &:nth-child(2) {
          &::after {
            display: none;
          }
        }
      }
      @include mobile {
        &:nth-child(odd) {
          &::before {
            display: none;
          }
        }

        &:nth-child(2) {
          &::after {
            display: block;
          }
        }
      }

      &:first-child {
        .info-list__value {
          color: var(--color-e);
        }
      }

      .info-list__value {
        flex-grow: 1;
        align-content: center;
      }
    }
  }


  &__settings {
    display: flex;
    align-items: center;
    margin-bottom: clamp(40px, 4.957vw, 58px);
    padding: 30px;

    background: linear-gradient(270deg, #1d0f32 0%, rgba(29, 15, 50, 0) 100%);
    border-radius: 20px;

    grid-gap: 20px clamp(20px, 3.846vw, 45px);
    @include small-tablet {
      display: grid;
      justify-content: space-between;

      grid-template-columns: auto auto;
    }
    @include mobile {
      width: 100%;
      padding: 0;

      background: transparent;

      grid-template-columns: 100%;
      justify-items: center;
    }

    &-list {
      display: flex;
      align-items: center;

      grid-gap: 20px clamp(20px, 3.846vw, 45px);
      @include mobile {
        justify-content: center;
        width: 100%;
        padding: 34px clamp(15px, 6.250vw, 24px);

        background: linear-gradient(270deg, #1d0f32 0%, rgba(29, 15, 50, 0) 100%);
        border-radius: 18px;

        grid-gap: clamp(20px, 6.077vw, 57px);
      }
    }

    &-wrapper {
      display: flex;
      flex-grow: 1;
      flex-shrink: 0;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;

      grid-gap: 15px;
      @include small-tablet {
        justify-content: flex-start;
        margin: initial;

        grid-column: 1/span 2;
      }
      @include mobile {
        justify-content: center;
        width: 100%;
        padding: 34px 0;

        background: linear-gradient(270deg, #1d0f32 0%, rgba(29, 15, 50, 0) 100%);
        border-radius: 18px;

        grid-column: 1;
      }
    }

    &-item {
      font-style: normal;
      font-weight: 500;
      font-size: clamp(14px, 4.375vw, 16px);
      line-height: 100%;
      font-family: var(--font-family);
      color: var(--color-a);
    }

    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      font-family: var(--font-family);
      text-align: center;
      color: var(--color-a);
    }
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    font-family: var(--font-family);
    color: var(--color-e);

    transition: all 0.4s;

    text-decoration-line: underline;
    &:hover {
      color: #ccaefd;
    }
  }
}
