.main-nav {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;

  grid-gap: 0 clamp(20px, 5.983vw, 70px);
  @include tablet {
    justify-content: space-between;

    grid-gap: 20px;
  }
}
