<header>
  <div class="container">
    <div class="header">

      <button class="burger">
        <svg width='16' height='9'>
          <use href='img/sprite/sprite.svg#burger'></use>
        </svg>
      </button>

      <nav class="main-nav">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#investments" class="nav-list__link" data-scroll>
              Investments
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#works" class="nav-list__link">
              How it works
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link nav-list__link--telegram">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#telegram'></use>
              </svg>
              Support
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              FAQ
            </a>
          </li>
        </ul>

        <a href="index.html" class="logo">
          <svg width='62' height='65'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>


        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#referral" class="nav-list__link">
              Referrals
            </a>
          </li>
          <li class="nav-list__item">
            <a href="#" class="nav-list__link">
              Contract
            </a>
          </li>
          <li class="nav-list__item">
            <button class="connect-walet">
              <picture>
                <source type='image/webp' srcset='img/metamask.webp'>
                <img width='30' height='30' src='img/metamask.png' alt='image'>
              </picture>

              <i>Connect wallet</i>
            </button>
          </li>
        </ul>
      </nav>
      <div class='select lang-select' data-select>
        <div class='select__header'>
          <span class='select__current'>
            <picture>
              <source type='image/webp' srcset='img/lang.webp'>
              <img width='24' height='24' src='img/lang.png' alt='lang'>
            </picture>
          </span>
        </div>
        <div class='select__body'>
          <ul class='select__wrapp'>
            <li class='select__item' data-choice='choosen'>
              <picture>
                <source type='image/webp' srcset='img/lang.webp'>
                <img width='24' height='24' src='img/lang.png' alt='lang'>
              </picture>
            </li>
            <li class='select__item' data-choice='choosen'>
              <picture>
                <source type='image/webp' srcset='img/lang.webp'>
                <img width='24' height='24' src='img/lang.png' alt='lang'>
              </picture>
            </li>
            <li class='select__item' data-choice='choosen'>
              <picture>
                <source type='image/webp' srcset='img/lang.webp'>
                <img width='24' height='24' src='img/lang.png' alt='lang'>
              </picture>
            </li>
          </ul>
        </div>
      </div>

      <button class="connect-walet connect-walet--mobile">
        <picture>
          <source type='image/webp' srcset='img/metamask.webp'>
          <img width='30' height='30' src='img/metamask.png' alt='image'>
        </picture>

        <i>Connect wallet</i>
      </button>


      <div class="mobile-menu">

        <div class="mobile-menu__top">
          <button class="burger">
            <svg width='16' height='9'>
              <use href='img/sprite/sprite.svg#burger'></use>
            </svg>
          </button>

          <button class="connect-walet">
            <picture>
              <source type='image/webp' srcset='img/metamask.webp'>
              <img width='30' height='30' src='img/metamask.png' alt='image'>
            </picture>

            <i>Connect wallet</i>
          </button>


          <a href="index.html" class="logo">
            <svg width='62' height='65'>
              <use href='img/sprite/sprite.svg#logo'></use>
            </svg>
          </a>

        </div>

        <div class="mobile-menu__inner">

          <ul class="mobile-menu__list">
            <li class="mobile-menu__item">
              <a href="#" class="mobile-menu__link">
                Investments
              </a>
            </li>
            <li class="mobile-menu__item">
              <a href="#" class="mobile-menu__link">
                How it works
              </a>
            </li>
            <li class="mobile-menu__item">
              <a href="#" class="mobile-menu__link">
                FAQ
              </a>
            </li>
            <li class="mobile-menu__item">
              <a href="#" class="mobile-menu__link">
                Referrals
              </a>
            </li>
            <li class="mobile-menu__item">
              <a href="#" class="mobile-menu__link">
                Contract
              </a>
            </li>
          </ul>

          <div class="mobile-menu__bottom">
            <a href="#" class="mobile-menu__support">
              <picture>
                <img width='28' height='28' src='img/sprite/telegram.svg' alt='image'>
              </picture>
              <i>Support</i>
            </a>

            <div class='select lang-select' data-select>
              <div class='select__header'>
                <span class='select__current'>
                  <picture>
                    <source type='image/webp' srcset='img/lang.webp'>
                    <img width='24' height='24' src='img/lang.png' alt='lang'>
                  </picture>
                  <i>Eng</i>
                </span>
              </div>
              <div class='select__body'>
                <ul class='select__wrapp'>
                  <li class='select__item' data-choice='choosen'>
                    <div>
                      <picture>
                        <source type='image/webp' srcset='img/lang.webp'>
                        <img width='24' height='24' src='img/lang.png' alt='lang'>
                      </picture>

                      <i>Eng</i>
                    </div>
                  </li>
                  <li class='select__item' data-choice='choosen'>
                    <div>
                      <picture>
                        <source type='image/webp' srcset='img/lang.webp'>
                        <img width='24' height='24' src='img/lang.png' alt='lang'>
                      </picture>

                      <i>Eng</i>
                    </div>
                  </li>
                  <li class='select__item' data-choice='choosen'>
                    <div>
                      <picture>
                        <source type='image/webp' srcset='img/lang.webp'>
                        <img width='24' height='24' src='img/lang.png' alt='lang'>
                      </picture>

                      <i>Eng</i>
                    </div>
                  </li>
                </ul>
              </div>
            </div>


          </div>

          <ul class="info-list smart__list">
            <li class="info-list__item">
              <span class="info-list__name">
                Total user:
              </span>
              <span class="info-list__value">
                29 738
              </span>
            </li>
            <li class="info-list__item">
              <span class="info-list__name">
                Total investment:
              </span>
              <span class="info-list__value">
                2883.02 Matic
              </span>
            </li>
          </ul>


        </div>



      </div>



    </div>
  </div>
</header>
