<div class="overlay" data-overlay>
  <div class="modal" data-popup="calculator">
      <div class="modal__box " role="dialog" aria-modal="true">
        <button class="close modal__close" aria-label="Закрыть модальное окно">
          <svg width="23" height="23">
            <use href='img/sprite/sprite.svg#close'></use>
          </svg>
        </button>

        <div class="modal-calculator">
          <div class="main-top ">
            <h2 class="main-top__title modal-title">
              calculator
            </h2>
            <div class="main-top__subtitle modal-calculator__subtitle">
              Enter the investment amount:
            </div>
          </div>

          <div class="modal-calculator__coll">
            <form action="#" class="investments-form">
              <label for="#" class="investments-form__label">
                <input type="number" value="10">
                <svg width='30' height='30'>
                  <use href='img/sprite/sprite.svg#main-icon'></use>
                </svg>
              </label>
              <button class="arrow-button">
                invest now
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#arrow'></use>
                </svg>
              </button>

            </form>

            <ul class="investments-list">
              <li class="investments-list__item">
                <span class="investments-list__name">
                  Min investment:
                </span>
                <span class="investments-list__value">
                  10 Matic
                </span>
              </li>
              <li class="investments-list__item">
                <span class="investments-list__name">
                  Max investment:
                </span>
                <span class="investments-list__value">
                  1000 Matic
                </span>
              </li>
            </ul>
          </div>

          <div class="modal-calculator__box">
            <ul class="modal-calculator__list">
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Total amount:
                </span>
                <span class="modal-calculator__value">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#main-icon'></use>
                  </svg>
                  389.02 Matic
                </span>
              </li>
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Total return:
                </span>
                <span class="modal-calculator__value">
                  200%
                </span>
              </li>
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Investment term:
                </span>
                <span class="modal-calculator__value">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#main-icon'></use>
                  </svg>
                  10 days
                </span>
              </li>
            </ul>
            <ul class="modal-calculator__list">
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Per hour:
                </span>
                <span class="modal-calculator__value">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#main-icon'></use>
                  </svg>
                  389.02 Matic
                </span>
              </li>
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Per Day:
                </span>
                <span class="modal-calculator__value">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#main-icon'></use>
                  </svg>
                  389.02 Matic
                </span>
              </li>
              <li class="modal-calculator__item">
                <span class="modal-calculator__name">
                  Per in 10 days:
                </span>
                <span class="modal-calculator__value">
                  <svg width='16' height='16'>
                    <use href='img/sprite/sprite.svg#main-icon'></use>
                  </svg>
                  389.02 Matic
                </span>
              </li>
            </ul>
          </div>


        </div>

      </div>
  </div>
</div>


