@mixin overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  height: -webkit-fill-available;

  transition: all 1s;
  padding: 20px 20px;
  overflow-y: scroll;
  pointer-events: none;
    transition-delay: 0.5s;


  &::-webkit-scrollbar {
    display: none;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.564);
    pointer-events: initial;
    transition: all .6s;
    opacity: 1;
    display: grid;
    visibility: visible;
    align-items: center;
    justify-content: center;
    z-index: 200;
  }
}
