.investments-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  grid-gap: 15px;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--font-family);
    color: var(--color-f);
  }

  &__value {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
  }
}
