.investments-cards {
  display: grid;
  align-items: stretch;

  grid-gap: 30px Min(1.709vw, 20px);
  grid-template-columns: repeat(4,1fr);
  @include tablet {
    max-width: 767px;
    margin: 0 auto;

    grid-gap: 30px 20px;
    grid-template-columns: repeat(2,1fr);
  }
  @include mobile {
    max-width: 414px;

    grid-template-columns: 100%;
  }
}

video {
  background: transparent;
}

.investments-form {
  display: flex;
  flex-direction: column;

  grid-gap: clamp(16px, 1.709vw, 20px);

  &__label {
    position: relative;

    width: 100%;
    height: 55px;

    background: var(--bg-g);
    border-radius: 12px;

    input {
      width: 100%;
      height: 100%;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
      font-family: var(--font-family);
      color: var(--color-a);
      text-transform: uppercase;
      text-indent: 55px;

      background: transparent;
      border-radius: 12px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 13px;

      transform: translateY(-50%);
    }
  }
}



.investments-now {
  display: flex;
  flex-direction: column;
  padding: 34px Min(1.709vw,20px);

  background: var(--invest-now);
  border-radius: clamp(18px, 1.709vw, 20px);

  grid-gap: clamp(16px, 1.88vw, 22px);
  @include tablet {
    padding: 34px 20px;
  }
  @include mobile {
    padding-bottom: 60px;
  }

  &__descr {
    display: flex;
    flex-direction: column;

    font-style: normal;
    // max-width: 160px;
    font-weight: 800;
    font-size: 65px;
    line-height: 65px;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    grid-gap: 10px;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 16px;
    }

    b {
      display: inline;
    }
  }

  &__top {
    position: relative;
  }

  &__image {
    position: absolute;
    top: -9px;
    right: -2px;
  }
}

.investments-active {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: var(--card-height);
  padding: 22px Min(1.709vw,20px) 30px;

  background: var(--invest-active);
  border: 2px solid var(--bg-d);
  border-radius: clamp(18px, 1.709vw, 20px);

  grid-gap: clamp(16px, 1.88vw, 22px);
  @include tablet {
    padding: 22px 20px 30px;
  }


  &__vidget {
    position: absolute;
    top: -2px;
    left: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--font-family);
    color: var(--color-a);

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #a9ff65;
    border-radius: 20px 0;
    box-shadow: inset 0 4px 4px #abfc6c;

    grid-gap: 8px;

    svg {
      fill: transparent;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-gap: 20px;
  }

  &__descr {
    display: flex;
    flex-direction: column;

    grid-gap: 10px;
  }

  &__image {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;

      width: 80px;
      height: 60px;

      background: var(--bg-d);
      transform: translate(-50%, -50%);
      filter: blur(44.1608px);
    }
  }

  &__title {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 700;
    font-size: clamp(18px, 1.795vw, 21px);
    line-height: 100%;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    grid-gap: 10px;
  }
}


.investments-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: var(--card-height);

  background: rgba(130, 71, 229, 0.05);
  border: 2px dashed var(--bg-d);
  border-radius: clamp(18px, 1.709vw, 20px);

  grid-gap: 20px;


  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
  }
}
