.main-top {
  display: flex;
  flex-direction: column;
  align-items: center;

  grid-gap: clamp(5px, 1.709vw, 20px);

  &__title {
    font-style: normal;
    font-weight: 800;
    font-size: clamp(26px, 5.556vw, 65px);
    line-height: clamp(31px, 5.983vw, 70px);
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
    text-transform: uppercase;

    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 128.45%);
    -webkit-background-clip: text;
            background-clip: text;

    -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
  }

  &__subtitle {
    max-width: 1000px;

    font-style: normal;
    font-weight: 500;
    font-size: clamp(14px, 1.368vw, 16px);
    line-height: 110%;
    font-family: var(--font-family);
    text-align: center;
    color: var(--color-a);
  }
}
