.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background: var(--bg-d);
  border-radius: 12px;



  @include for-small-tablet {
    display: none;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateX(10px) rotate(2deg);
  }

  100% {
    opacity: 1;
  }
}

.fixed-body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  // top: 0;
  left: 0;
}

.mobile-menu {
  position: fixed;
  overflow-y: auto;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2F1A4E;
  z-index: 20;

  .burger {
    transform: scaleX(-1);
  }

  filter: blur(7px);
  clip-path: circle(0% at 96.5% 5%);
  transition: all .7s cubic-bezier(0.23, 0.93, 0.23, 0.93);

  .smart__list {
    display: flex;
    position: initial;
    transform: initial;
    left: initial;
    margin: 0 auto;
    max-width: 500px;
  }

  &.active {
    filter: blur(0px);
    clip-path: circle(140% at 96.5% 5%);
    transition: all .6s cubic-bezier(0.23, 0.93, 0.6, 0.93);
  }



  &__top {
    padding: 27px 16px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .connect-walet {
    display: flex;
    position: initial;
    width: 200px;
    font-size: 12px;
    height: 46px;

    i {
      display: block;
    }
  }

  .logo {
    padding: 0;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 27px;
      height: auto;
    }
  }

  &__inner {
    padding: 40px 26px 20px;
    height: 500px;

    z-index: 0;
    position: relative;

    &::before {
      top: 0px;
      left: -1px;
      right: -1px;
      bottom: 0;
      height: 100%;
      content: '';
      position: absolute;
      z-index: -1;
      background-image: url(../img/mobile-bg.png);
      border-top: 2px solid #8247E5;
      border-radius: 20px 20px 0px 0px;
      background-size: 100% 130%;
      background-position: top;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin-bottom: 50px;
  }

  &__link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--color-a);
  }

  &__support {
    height: 55px;
    width: 100%;
    justify-content: center;
    background: var(--bg-g);
    align-items: center;
    grid-gap: 15px;
    border-radius: 12px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--color-Ñ);
  }

  &__item {
    position: relative;

    &::before {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      bottom: -15px;
      background: linear-gradient(270deg, #8247E5 0%, rgba(130, 71, 229, 0) 101.76%);
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 12px;
    justify-items: center;
    margin-bottom: 100px;

    .select {
      right: initial !important;
    }

    .lang-select,.select__header {
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .lang-select {
      background: var(--bg-g);
      border-radius: 12px;
    }

    .select__current {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-a);
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 8px;
    }

    .select__body {
      width: 100%;
    }

    .select__item {
      width: 100%;
    }

    .select__item > *{
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-a);
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 8px;
      width: 100%;
    }
  }

  .info-list__value {
    font-size: 18px !important;
  }

  .info-list__name {
    font-size: 14px !important;
  }

  @include for-small-tablet {
    display: none;
  }
}
