.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;

  background: var(--bg-d);
  border-radius: 12px;

  @include for-small-tablet {
    display: none;
  }
}

@keyframes animateIn {
  0% {
    transform: translateX(10px) rotate(2deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fixed-body {
  position: fixed;
  // top: 0;
  left: 0;

  width: 100%;
  overflow: hidden;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  z-index: 20;

  overflow-y: auto;

  background: #2f1a4e;
  filter: blur(7px);

  transition: all 0.7s cubic-bezier(0.23, 0.93, 0.23, 0.93);

  clip-path: circle(0% at 96.5% 5%);

  @include for-small-tablet {
    display: none;
  }

  .burger {
    transform: scaleX(-1);
  }

  .smart__list {
    position: initial;
    left: initial;

    display: flex;
    max-width: 500px;
    margin: 0 auto;

    transform: initial;
  }

  &.active {
    filter: blur(0px);

    transition: all 0.6s cubic-bezier(0.23, 0.93, 0.6, 0.93);

    clip-path: circle(140% at 96.5% 5%);
  }



  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 16px 38px;
  }

  .connect-walet {
    position: initial;

    display: flex;
    width: 200px;
    height: 46px;

    font-size: 12px;

    i {
      display: block;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    padding: 0;

    svg {
      width: 27px;
      height: auto;
    }
  }

  &__inner {
    position: relative;
    z-index: 0;

    height: 500px;
    padding: 40px 26px 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      bottom: 0;
      left: -1px;
      z-index: -1;

      height: 100%;

      background-image: url(../img/mobile-bg.png);
      background-position: top;
      background-size: 100% 130%;
      border-top: 2px solid #8247e5;
      border-radius: 20px 20px 0 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    grid-gap: 30px;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    font-family: var(--font-family);
    color: var(--color-a);
  }

  &__support {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    font-family: var(--font-family);
    color: var(--color-Ñ);

    background: var(--bg-g);
    border-radius: 12px;

    grid-gap: 15px;
  }

  &__item {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -15px;

      width: 100%;
      height: 2px;

      background: linear-gradient(270deg, #8247e5 0%, rgba(130, 71, 229, 0) 101.76%);
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  &__bottom {
    display: grid;
    margin-bottom: 100px;

    grid-gap: 12px;
    grid-template-columns: 2fr 1fr;
    justify-items: center;

    .select {
      right: initial !important;
    }

    .lang-select,
    .select__header {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .lang-select {
      background: var(--bg-g);
      border-radius: 12px;
    }

    .select__current {
      display: flex;
      justify-content: center;
      align-items: center;

      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      font-family: var(--font-family);
      color: var(--color-a);

      grid-gap: 8px;
    }

    .select__body {
      width: 100%;
    }

    .select__item {
      width: 100%;
    }

    .select__item > * {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      font-family: var(--font-family);
      color: var(--color-a);

      grid-gap: 8px;
    }
  }

  .info-list__value {
    font-size: 18px !important;
  }

  .info-list__name {
    font-size: 14px !important;
  }
}
