.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background: var(--bg-d);
  border-radius: 12px;


  @include for-small-tablet {
    display: none;
  }
}


.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2F1A4E;
  z-index: 20;



  &__top {
    padding: 27px 26px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .connect-walet {
    display: flex;
    position: initial;
    width: 200px;
    font-size: 12px;
    height: 46px;

    i {
      display: block;
    }
  }

  .logo {
    padding: 0;
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 27px;
      height: auto;
    }
  }

  &__inner {
    padding: 40px 26px 20px;
    background: linear-gradient(180deg, rgba(130, 71, 229, 0.54) 0%, rgba(130, 71, 229, 0) 52.21%);
    border-top: 1px solid #8247E5;
    border-radius: 20px 20px 0px 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin-bottom: 50px;
  }

  &__link {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--color-a);
  }

  &__support {
    height: 55px;
    width: 100%;
    justify-content: center;
    background: var(--bg-g);
    align-items: center;
    grid-gap: 15px;
    border-radius: 12px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: var(--color-Ñ);
  }

  &__item {
    position: relative;

    &::before {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      bottom: -15px;
      background: linear-gradient(270deg, #8247E5 0%, rgba(130, 71, 229, 0) 101.76%);
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 12px;
    justify-items: center;

    .select {
      right: initial !important;
    }

    .lang-select,.select__header {
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .lang-select {
      background: var(--bg-g);
      border-radius: 12px;
    }

    .select__current {
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-a);
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 8px;
    }

    .select__body {
      width: 100%;
    }

    .select__item {
      width: 100%;
    }

    .select__item > *{
      font-family: var(--font-family);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      color: var(--color-a);
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 8px;
      width: 100%;
    }
  }

  @include for-small-tablet {
    display: none;
  }
}
