.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  grid-gap: 20px 0;
  @include tablet {
    justify-content: initial;
    width: fit-content;

    grid-gap: 25px;
  }
  @include small-tablet {
    display: none;
  }

  &__link {
    display: flex;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    font-family: var(--font-family);
    color: var(--color-a);

    grid-gap: 8px;

    &--telegram {
      color: var(--color-с);
      svg {
        flex-grow: 0;

        background: linear-gradient(180deg, #41bce7 0%, #22a6dc 99.64%);
        border-radius: 50%;
        transform: translateY(-12%);
      }
    }
  }
}
