@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-style: $style;
    font-weight: #{$weight};
    font-family: "#{$font-family}";

    font-display: swap;
    src: url("../fonts/#{$url}.woff2") format("woff2"),
    url("../fonts/#{$url}.woff") format("woff");
  }
}

@include font-face("Muller", "MullerRegular", 400, normal);
@include font-face("Muller", "MullerMedium", 500, normal);
@include font-face("Muller", "MullerBold", 700, normal);
@include font-face("Muller", "MullerExtraBold", 800, normal);



