@keyframes bounce {
  0%, 100% {
    transform: translate3d(0,0,0);
  }

  50% {
    transform: translate3d(0,-20%,0);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
