.select {
  position: relative;
  // width: 100%;

  @include mobile {
    right: 56px;
  }
}

.select.active .select__body {
  height: auto;
  max-height: 500px;
}

.select.active {
  .select__icon {
    transform: scaleY(-1);
  }
  .select__body {
    display: block;
  }

  .select__header {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
}

.select__header {
  display: grid;
  align-items: center;
  // min-width: 130px;
  width: fit-content;
  max-width: 100%;
  cursor: pointer;
  grid-gap: 8px;

}

.select__current {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-f);
  text-transform: capitalize;
  letter-spacing: 0.05em;
  max-width: 190px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.4s;
}

.select__body {
  border-radius: 12px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

  display: none;
  // width: 100%;
  max-height: 0;
  margin-top: 10px;
  padding: 0;


  border-top: none;
  border-radius: 0 0 2px 2px;
}

.select__item {
  width: 24px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  font-family: var(--font-family);
  color: var(--color-f);
  text-transform: capitalize;
  letter-spacing: 0.05em;
  display: flex;

  cursor: pointer;
  // opacity: 0.5;

  transition: all 0.4s;

  user-select: none;

  &:hover {
    opacity: 1;
  }
}

.select__wrapp {
  display: flex;
  flex-direction: column;
  width: calc(100% );
  background: var(--bg-g);
  border: 1px solid  var(--bg-d);
  border-radius: 12px;
  grid-gap: 10px;
  padding: 5px;
}

.select__item:hover {
  // background-color: $color--a;
  color:var(--color-f);
}
