.logo {
  background: var(--logo-gradient);
  border-radius: clamp(12px, 1.709vw, 20px);
  padding: clamp(12px, 1.838vw, 21.5px) clamp(10px, 1.538vw, 18px);

  svg {
    width: clamp(35px, 5.299vw, 62px);
    height: auto;
  }
}

.connect-walet {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  padding: clamp(6px, 0.855vw, 10px) clamp(8px, 2.906vw, 34px);

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-a);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border: 1.5px solid var(--bg-d);
  border-radius: 12px;

  i {
    font-style: normal;
  }

  @include tablet {
    padding: 0;
    width: 42px;
    height: 42px;
    i {
      display: none;
    }
  }

  &--mobile {
    @include for-small-tablet {
      display: none;
    }

    @include small-tablet {
      position: absolute;
      right: 54px;
    }

    @include small-tablet {
      padding: 0;
      width: 42px;
      height: 42px;
      i {
        display: none;
      }
    }

    @include mobile {
      right: 16px;
    }
  }
}

.arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px ;
    width: 100%;
    height: 55px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--color-a);

    background: var(--bg-d);
    box-shadow: 0px 13px 21px rgba(130, 71, 229, 0.15);
    border-radius: 12px;

    // i {
    //   margin-bottom: -2%;
    // }

    svg {
      fill: transparent;
    }
}
