.logo {
  padding: clamp(12px, 1.838vw, 21.5px) clamp(10px, 1.538vw, 18px);

  background: var(--logo-gradient);
  border-radius: clamp(12px, 1.709vw, 20px);

  svg {
    width: clamp(35px, 5.299vw, 62px);
    height: auto;
  }
}

.connect-walet {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(6px, 0.855vw, 10px) clamp(8px, 2.906vw, 34px);

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  font-family: var(--font-family);
  color: var(--color-a);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  border: 2px solid var(--bg-d);
  border-radius: 12px;

  transition: all 0.4s;

  grid-gap: 10px;
  @include tablet {
    width: 42px;
    height: 42px;
    padding: 0;
    i {
      display: none;
    }
  }

  i {
    font-style: normal;
  }
  &:hover {
    background: var(--bg-d);
    box-shadow: 0 18px 31px rgba(130, 71, 229, 0.25);
  }

  &--mobile {
    @include for-small-tablet {
      display: none;
    }
    @include small-tablet {
      position: absolute;
      right: 54px;
    }
    @include small-tablet {
      width: 42px;
      height: 42px;
      padding: 0;
      i {
        display: none;
      }
    }
    @include mobile {
      right: 16px;
    }
  }
}

.arrow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  font-family: var(--font-family);
  color: var(--color-a);
  text-transform: uppercase;

  background: var(--bg-d);
  border-radius: 12px;
  box-shadow: 0 13px 21px rgba(130, 71, 229, 0.15);
  // i {
  //   margin-bottom: -2%;
  // }

  transition: all 0.4s;

  grid-gap: 15px ;
  &:hover {
    background: var(--bg-d);
    box-shadow: 0 13px 21px rgba(0,0,0, 0.5);
  }

  svg {
    fill: transparent;
  }
}
