:root {
  --body-bg: #08040E;
  --body-font-size: 16px;
  --content-width: 1170px;
  --container-offset: 16px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --header-height: 160px;

  --scrollbar-thumb: #8247E5;
  --scrollbar-thumb-hover: #8247E5;
  --scrollbar-track: #08040E;
  --scrollbar-track-hover: #08040E;

  --overlay-bg: rgba(0, 0, 0, 0.5);

  --font-family: "Muller" , sans-serif; // var(--font-family);



  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b: #000000; // var(--color-b);
  --color-с: #5FD6FF; // var(--color-с);
  --color-d: #8247E5; // var(--color-d);
  --color-e: #BE97FF; // var(--color-e);
  --color-f: #977CC6; // var(--color-f);
  --color-g: #08040E; // var(--color-g);
  --color-h: #C0B5D2; // var(--color-h);


  --done:#A9FF65;
  --error: #FF6565;

  // --color-j: #BDBDBD; // var(--color-j);
  // --color-i: #F17B7B; // var(--color-i);

   // bg color
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #5FD6FF; // var(--bg-c);
  --bg-d: #8247E5; // var(--bg-d);
  --bg-e: #BE97FF; // var(--bg-e);
  --bg-f: #977CC6; // var(--bg-f);
  --bg-g: #08040E; // var(--bg-g);
  --bg-h: #C0B5D2; // var(--bg-h);
  // --bg-i: #EBEBEB; // var(--bg-i);

  --modal-bg: #2F1A4E;


  --logo-gradient:
  linear-gradient(180deg, #8247E5 0%, rgba(130, 71, 229, 0) 100%);

  --invest-now:linear-gradient(180deg, #8247E5 0%, rgba(130, 71, 229, 0) 100%);
  --invest-active:linear-gradient(0deg, rgba(130, 71, 229, 0.54) 0%, rgba(130, 71, 229, 0) 52.21%);
  --ref-inner:linear-gradient(180deg, #1D0F32 0%, #0A0611 100%);

}
